.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.journalLink {
  width: 25%;
  height: 50%;
  border: solid black 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  text-align: center;
}
.generalLink {
  background-color: yellow;
}
.dreamLink {
  background-color: green;
}
.foodLink {
  background-color: aqua;
}
.generalLink:hover {
  background-color: green;
  /* needs person writing in journal image, animation, opacity */
}
.dreamLink:hover {
  background-color: yellow;
  /* needs person sleeping image, animation, opacity*/
}
.foodLink:hover {
  background-color: pink;
  /* needs person writing in journal image, animation, opacity */
}
.journalLinksContainer {
  border: solid black 1px;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.homePageContainer {
  height: 100vh;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/lined-paper.png");
  border: solid black 1px;
}
